In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv("bread basket.csv")
df.head()

   Transaction           Item         date_time period_day weekday_weekend
0            1          Bread  30-10-2016 09:58    morning         weekend
1            2   Scandinavian  30-10-2016 10:05    morning         weekend
2            2   Scandinavian  30-10-2016 10:05    morning         weekend
3            3  Hot chocolate  30-10-2016 10:07    morning         weekend
4            3            Jam  30-10-2016 10:07    morning         weekend

In [64]:
# https://stackoverflow.com/questions/65154530/how-to-combine-values-having-same-value-in-some-columns
from collections import defaultdict
refHash = defaultdict(list)

for i,id in enumerate(df['Transaction'].values):
    refHash[id] += [df.loc[i,'Item']]

lst = list(refHash.values())

In [100]:
from apyori import apriori
rules = apriori(transactions= lst, min_support = 0.0025, min_lift = 3)
results = list(rules)
results

[RelationRecord(items=frozenset({'Coke', 'Sandwich'}), support=0.005176967776016905, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Coke'}), items_add=frozenset({'Sandwich'}), confidence=0.266304347826087, lift=3.706721547314578), OrderedStatistic(items_base=frozenset({'Sandwich'}), items_add=frozenset({'Coke'}), confidence=0.07205882352941176, lift=3.7067215473145776)]),
 RelationRecord(items=frozenset({'Jam', 'Fudge'}), support=0.0025356576862123614, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Fudge'}), items_add=frozenset({'Jam'}), confidence=0.16901408450704225, lift=11.265621900416583), OrderedStatistic(items_base=frozenset({'Jam'}), items_add=frozenset({'Fudge'}), confidence=0.16901408450704225, lift=11.265621900416583)]),
 RelationRecord(items=frozenset({'Juice', 'Spanish Brunch'}), support=0.002746962493396725, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Juice'}), items_add=frozenset({'Spanish Brunch'}), confidence=0.07123287671232878, lift=3.919878942338325), OrderedStatistic(items_base=frozenset({'Spanish Brunch'}), items_add=frozenset({'Juice'}), confidence=0.1511627906976744, lift=3.9198789423383245)]),
 RelationRecord(items=frozenset({'Sandwich', 'Mineral water'}), support=0.0032752245113576335, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Mineral water'}), items_add=frozenset({'Sandwich'}), confidence=0.23134328358208955, lift=3.2200943810359965), OrderedStatistic(items_base=frozenset({'Sandwich'}), items_add=frozenset({'Mineral water'}), confidence=0.045588235294117645, lift=3.220094381035996)]),
 RelationRecord(items=frozenset({'Coffee', 'Juice', 'Cookies'}), support=0.0036978341257263604, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Cookies'}), items_add=frozenset({'Coffee', 'Juice'}), confidence=0.06796116504854369, lift=3.298730395817774), OrderedStatistic(items_base=frozenset({'Juice'}), items_add=frozenset({'Coffee', 'Cookies'}), confidence=0.09589041095890412, lift=3.399261197475758), OrderedStatistic(items_base=frozenset({'Coffee', 'Cookies'}), items_add=frozenset({'Juice'}), confidence=0.13108614232209737, lift=3.399261197475758), OrderedStatistic(items_base=frozenset({'Coffee', 'Juice'}), items_add=frozenset({'Cookies'}), confidence=0.1794871794871795, lift=3.2987303958177745)]),
 RelationRecord(items=frozenset({'Coffee', 'Sandwich', 'Soup'}), support=0.0035921817221341787, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Sandwich'}), items_add=frozenset({'Coffee', 'Soup'}), confidence=0.05, lift=3.1550000000000002), OrderedStatistic(items_base=frozenset({'Coffee', 'Soup'}), items_add=frozenset({'Sandwich'}), confidence=0.22666666666666666, lift=3.155)])]

In [101]:
def inspect(results):
    lhs         = [tuple(result[2][0][0])[0] for result in results]
    rhs         = [tuple(result[2][0][1])[0] for result in results]
    supports    = [result[1] for result in results]
    confidences = [result[2][0][2] for result in results]
    lifts       = [result[2][0][3] for result in results]
    return list(zip(lhs, rhs, supports, confidences, lifts))
resultsinDataFrame = pd.DataFrame(inspect(results), columns = ['Left Hand Side', 'Right Hand Side', 'Support', 'Confidence', 'Lift'])

In [103]:
resultsinDataFrame

  Left Hand Side Right Hand Side   Support  Confidence       Lift
0           Coke        Sandwich  0.005177    0.266304   3.706722
1          Fudge             Jam  0.002536    0.169014  11.265622
2          Juice  Spanish Brunch  0.002747    0.071233   3.919879
3  Mineral water        Sandwich  0.003275    0.231343   3.220094
4        Cookies          Coffee  0.003698    0.067961   3.298730
5       Sandwich          Coffee  0.003592    0.050000   3.155000

In [99]:
resultsinDataFrame.nlargest(10, 'Lift')

  Left Hand Side Right Hand Side   Support  Confidence      Lift
0           Coke        Sandwich  0.005177    0.266304  3.706722
2        Cookies          Coffee  0.003698    0.067961  3.298730
1  Mineral water        Sandwich  0.003275    0.231343  3.220094
3       Sandwich          Coffee  0.003592    0.050000  3.155000